.media {
	position: relative;

	&__title {
		margin-top: 70px;
	}

	&::before,
	&::after {
		content: '';
		position: absolute;

		@include bg-cover;
	}

	&::before {
		left: -55px;
		bottom: -60px;
		z-index: -1;
		width: 800px;
		height: 800px;
		background-image: url('../img/decor/circle-dashed.svg');
		rotate: 27%;
	}

	&::after {
		right: -100px;
		top: -285px;
		z-index: 1;
		width: 100%;
		max-width: 340px;
		background-image: url('../img/decor/line-dashed.svg');
		transform: rotate(45deg);
		aspect-ratio: 1/1;

		@include mq(xl) {
			right: 0;
			top: -146px;
			max-width: 209px;
		}
	}

	&__inner {
		margin: 0 auto;
		padding: 41px 16px 105px;
		max-width: 1710px;
		text-align: center;
		gap: 20px;

		@include flex-center-sb;

		@include mq(xl) {
			padding: 41px 10px 75px;
		}

		@include mq(lg) {
			display: block;
			margin: 0 auto;
		}
	}

	&__subtitle {
		margin-bottom: 30px;
		color: var(--color-blue-500);
	}

	&__video {
		width: 100%;
		max-width: 740px;
	}

	&__video-link {
		position: relative;
		z-index: 0;
		display: block;
		width: 100%;
		height: 445px;

		@include mq(xl) {
			max-width: 514px;
			max-height: 301px;
		}

		&::after,
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			transition:
				opacity 0.4s,
				background-color 0.4s,
				background-image 0.4s;

			@include bg-cover;
		}

		&:hover,
		&:active {
			&::before {
				opacity: 60%;
			}
		}

		&::before {
			background-color: var(--color-blue-400);
		}

		&::after {
			left: 45%;
			top: 40%;
			max-width: 78px;
			max-height: 78px;
			background-image: url('../img/icons/play-white.svg');

			@include mq(xl) {
				left: 42%;
				top: 37%;
			}
		}

		&:hover,
		&:active {
			transition: opacity 0.4s;

			&::after {
				opacity: 100%;
			}
		}

		&:active::after {
			background-image: url('../img/icons/play-blue.svg');
		}
	}

	&__video-img {
		width: 100%;
		object-fit: cover;
	}

	&__photos {
		width: 100%;

		// @include mq(xl) {
		// max-width: 613px;
		// }
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;

		@include mq(xl) {
			gap: 10px;
		}
	}

	&__item {
		width: 212px;
		height: 212px;

		@include mq(xl) {
			width: 144px;
			height: 144px;
		}
	}

	&__link {
		position: relative;
		z-index: 0;
		display: block;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: var(--color-white);
			opacity: 0;
			transition: opacity 0.4s;

			// z-index: -1;
		}

		&:hover,
		&:active {
			&::after {
				opacity: 50%;
			}
		}
	}

	&__img {
		max-width: 212px;
		aspect-ratio: 1/1;

		@include mq(xl) {
			max-width: 144px;
		}
	}
}
