.survey {
	padding: 140px 0;
	text-align: center;
	background-image: url('../img/bg/block-bg.svg');

	@include bg-cover;

	@include mq(xl) {
		padding: 75px 0;
	}

	@include mq(md) {
		padding: 35px 0;
	}

	&__container {
		position: relative;
		z-index: 1;
		margin: 0 auto;
		padding: 0 15px;
		max-width: 1325px;
		gap: 40px;

		@include flex-column-sb;

		@include mq(md) {
			gap: 20px;
		}
	}

	&__title {
		color: var(--color-blue-500);

		@include mq(md) {
			font-size: 16px;
		}
	}

	&__btn {
		margin: 0 auto;
		padding: 34px 140px;
		font-size: 40px;

		@include mq(xl) {
			padding: 24px 65px;
			font-size: 30px;
		}

		@include mq(md) {
			padding: 12px 26px;
			font-size: 16px;
		}
	}
}
