<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer__logos">
                <a class="footer__logo logo" href="https://edu.gov.ru" target="_blank">
                    <img class="logo__img" src="img/logo/logo-mp-light.svg" alt="Логотип Министерства Просвещения Россйикой Федерации">
                </a>
                <a class="logo logo--npa" href="https://nra-russia.ru" target="_blank">
                    <img class="logo__img" src="img/logo/logo-npa.svg" alt="Логотип Национальной Родительской Ассоциации">
                </a>
            </div>
            <div class="footer__contacts">
                <ul class="footer__items">
                    <li>
                        <a class="footer__link footer__link--phone" href="tel:+79053658524">
                            +7 (905) 365-85-24
                        </a>
                    </li>
                    <li>
                        <a class="footer__link footer__link--mail" href="mailto:press@nra-russia.ru">
                            press@nra-russia.ru
                        </a>
                    </li>
                </ul>
                <ul class="socials">
                    <li class="socials__item">
                        <a class="socials__link" href="https://vk.com/minprosvet" style="background-image: url('img/icons/socials/vk.svg');" target="_blank">
                            <span class="sr-only">
                                Вконтакте
                            </span>
                        </a>
                    </li>
                    <li class="socials__item">
                        <a class="socials__link" href="https://ok.ru/minprosvet " style="background-image: url('img/icons/socials/odn.svg');" target="_blank">
                            <span class="sr-only">
                                Одноклассники
                            </span>
                        </a>
                    </li>
                    <li class="socials__item">
                        <a class="socials__link" href="https://t.me/minprosrf" style="background-image: url('img/icons/socials/tg.svg');" target="_blank">
                            <span class="sr-only">
                                Телеграм
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__bottom">
            <a href="#" target="_blank">
                Политика конфиденциальности
            </a>
            <span>
                | © 2019 — 2024 Общероссийское родительское собрание. Все права защищены
            </span>
        </div>
    </div>
</footer>
