<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__top">
        <div class="footer__logos">
          <a class="footer__logo-link logo logo--mp-ligt" href="#">
            <img class="footer__logo-img" src="../../img/logo/logo-mp-light.svg" alt="Логотип Министерства Просвещения Россйикой Федерации">
          </a>
          <a class="footer__logo-link logo logo--npa" href="#">
            <img class="footer__logo-img" src="../../img/logo/logo-npa.svg" alt="Логотип Национальной Родительской Ассоциации">
          </a>
        </div>
        <div class="footer__contact-inner">
          <ul class="footer__contact-items">
            <li class="footer__contact-item">
            <a class="footer__contact-link footer__contact-link--phone" href="tel:+79053658524">
              +7 (905) 365-85-24
            </a>
            </li>
            <li class="footer__contact-item">
            <a class="footer__contact-link footer__contact-link--mail" href="mailto:press@nra-russia.ru">
              press@nra-russia.ru
            </a>

          </ul>
          <ul class="social">
            <li class="social-item">
              <a class="social-link" href="#" style="background-image: url('../../img/icons/socials/vk.svg');" target="_blank">
                <span class="sr-only">
                  Вконтакте
                </span>
              </a>
            </li>
            <li class="social-item">
              <a class="social-link" href="#" style="background-image: url('../../img/icons/socials/odn.svg');" target="_blank">
                <span class="sr-only">
                  Одноклассники
                </span>
              </a>
            </li>
            <li class="social-item">
              <a class="social-link" href="#" style="background-image: url('../../img/icons/socials/tg.svg');" target="_blank">
                <span class="sr-only">
                  Телеграм
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__copy">
        <a class="footer__copy-link" href="#" target="_blank">
          Политика конфиденциальности
        </a>
        <p class="footer__copy-text">
          © 2019 — 2024 Общероссийское родительское собрание. Все права защищены
        </p>
      </div>
    </div>
  </div>
</footer>
