<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__top">
        <div class="footer__logo">
          <a href="" class="footer__logo-link">
            <img src="../../img/logo/logo-footer-mp.svg" alt="Логотип Министерства Просвещения Россйикой Федерации">
          </a>
          <a href="" class="footer__logo-link">
            <img src="../../img/logo/logo-footer-npa.svg" alt="Логотип Национальной Родительской Ассоциации">
          </a>
        </div>
        <div class="footer__contact">
          <a href="" class="footer__contact-link">

          </a>
          <a href="" class="footer__contact-link">

          </a>
        </div>
        <ul class="footer__social">
          <li class="footer__social-item">
            <a href="" class="footer__social-link">
              <span class="sr-only">
                Вконтакте
              </span>
            </a>
          </li>
          <li class="footer__social-item">
            <a href="" class="footer__social-link">
              <span class="sr-only">
                Одноклассники
              </span>
            </a>
          </li>
          <li class="footer__social-item">
            <a href="" class="footer__social-link">
              <span class="sr-only">
                Телеграм
              </span>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__copy">
        <a class="footer__copy-link"  href="#" target="_blank">
          Политика конфиденциальности
        </a>
        <p class="footer__copy-text">
          © 2019 — 2024 Общероссийское родительское собрание. Все права защищены
        </p>
      </div>
    </div>
  </div>
</footer>
