<header class="header">
  <div class="container">
    <div class="header__inner">
      <picture class="header__logo logo">
        <source srcset="../../img/logo/logo.svg" media="(max-width:1920px)">
        <img src="../../img/logo/logo-xxl.svg" alt="Логотип Министерства Просвещения Российской федерации ">
      </picture>
      <nav class="header__nav">
        <ul class="header__items">
          <ul class="header__item">
            <a class="header__link" href="#">
              ОПРОС
            </a>
          </ul>
          <ul class="header__item">
            <a class="header__link" href="#">
              МЕДИАКОНТЕНТ
            </a>
          </ul>
          <ul class="header__item">
            <a class="header__link" href="#">
              КОНТАКТЫ
            </a>
          </ul>
        </ul>
      </nav>
      <button class="header__button button button--primary" type="button">
       <a href="" class="header__link">ВОПРОС МИНИСТРУ</a>
      </button>
    </div>
  </div>
</header>
