<header class="header">
  <div class="container">
    <nav class="header__nav">
      <picture>
        <source srcset="img/logo/logo-xxl.svg" media="(min-width: 1920px)">
        <img class="header__logo logo" src="img/logo/logo.svg"
          alt="Логотип Министерства Просвещения Российской федерации ">
      </picture>
      <ul class="header__items">
        <li class="header__item">
          <a class="header__link" href="#">
            Опрос
          </a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#">
            Медиаконтент
          </a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#">
            Контакты
          </a>
        </li>
        <li class="header__item">
          <a href="" class="button button--primary">
            Вопросы министру
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
