<div class="graph-modal">
    <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="question">
        <div class="graph-modal__box">
            <button class="graph-modal__close js-modal-close" aria-label="Закрыть модальное окно"></button>
            <div class="graph-modal__content">
                       <script src="https://forms.yandex.ru/_static/embed.js"></script><iframe src="https://forms.yandex.ru/u/66bde2bf2530c235d8c59422/?iframe=1" frameborder="0" name="ya-form-66bde2bf2530c235d8c59422" width="100%"></iframe>
            </div>
        </div>
    </div>
</div>
