body {
	color: var(--color-black);
	font-weight: var(--font-weight-regular);
	font-size: 16px;
	font-family: var(--font-family-roboto), Arial, sans-serif;
	line-height: 1.3;
	background-color: var(--color-white);
	scroll-behavior: smooth;
	display: inline;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}

.main {
	flex: 1 1 auto;
}

.lock {
	overflow: hidden;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: 1px;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
}

.disable-scroll {
	position: relative;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.logo {
	display: inline-block;
	width: 100%;

	&__img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.swiper-slide {
	box-sizing: border-box;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: rgba(var(--color-black), 0.5);
	opacity: 0;

	&--active {
		z-index: 4;
		opacity: 1;
	}
}
