:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-blue-300: #323A80;
  --color-blue-400: #213a76;
  --color-blue-500: #2a327b;
  --color-red-500: #be1622;

  --shadow-primary: 0 4px 24px 0 #213a7640;
  --shadow-secondary: 0 1px 20px 0 #213a764d; // for header

  --font-main: "Bahnschrift";
}

%inner {
  padding: 18px 18px;
  border-radius: 30px;
  background-color: var(--color-white);
  box-shadow: 0 1px 21px 0 rgba(33, 58, 118, 0.3);
}
