:root {
	--color-white: #fff;
	--color-black: #000;
	--color-blue-400: #213a76;
	--color-blue-500: #2a327b;
	--color-red-500: #be1622;
	--shadow-primary: 0 4px 24px 0 #213a7640;
	--shadow-secondary: 0 1px 20px 0 #213a764d; // for header
	--font-main: 'Bahnschrift';
}
