.burger-button {
	--burger-width: 30px;
	--burger-height: 30px;
	--burger-line-height: 2px;

	position: relative;
	width: $burger-width;
	height: $burger-height;
	color: var(--color-black);

	&::before,
	&::after {
		position: absolute;
		left: 0;
		width: 100%;
		height: $burger-line-height;
		background-color: currentColor;
		transition:
			transform 0.3s ease-in-out,
			top 0.3s ease-in-out;
		content: '';
	}

	&::before {
		top: 0;
	}

	&::after {
		top: calc(100% - $burger-line-height);
	}

	@include mq(lg, min) {
		display: none;
	}

	&__line {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: $burger-line-height;
		background-color: currentColor;
		transform: translateY(-50%);
		transition: transform 0.3s ease-in-out;
	}

	&--active {
		&::before,
		&::after {
			top: 50%;
			transition:
				transform 0.3s ease-in-out,
				top 0.3s ease-in-out;
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}

		.burger-button__line {
			transform: scale(0);
			transition: transform 0.3s ease-in-out;
		}
	}
}
