.burger-button {
	--burger-width: 26px;
	--burger-height: 21px;
	--burger-line-height: 3px;
	--burger-border-radius: 4px;
	--burger-color: var(--color-blue-500);

	position: relative;
	width: var(--burger-width);
	height: var(--burger-height);

	&::before,
	&::after {
		content: '';
		position: absolute;
		left: 0;
		border-radius: var(--burger-border-radius);
		width: 100%;
		height: var(--burger-line-height);
		background-color: var(--burger-color);
		transition:
			transform 0.3s ease-in-out,
			top 0.3s ease-in-out;
	}

	&::before {
		top: 0;
	}

	&::after {
		top: calc(100% - var(--burger-line-height));
	}

	@include mq(lg, min) {
		display: none;
	}

	&__line {
		position: absolute;
		left: 0;
		top: 50%;
		border-radius: var(--burger-border-radius);
		width: 100%;
		height: var(--burger-line-height);
		background-color: var(--burger-color);
		transform: translateY(-50%);
		transition: transform 0.3s ease-in-out;
	}

	&--active {
		&::before,
		&::after {
			top: 50%;
			transition:
				transform 0.3s ease-in-out,
				top 0.3s ease-in-out;
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}

		.burger-button__line {
			transform: scale(0);
			transition: transform 0.3s ease-in-out;
		}
	}
}
