.header {
	position: fixed;
	left: 0;
	right: 0;
	top: 25px;
	z-index: 2;

	&__logo {
		margin-right: auto;
	}

	&__nav {
		display: flex;
		align-items: center;
		border-radius: 30px;
		padding: 18px;
		box-shadow: var(--shadow-secondary);
		background-color: var(--color-white);
		gap: 12px;

		@include mq(md) {
			border-radius: 10px;
			padding: 8px 12px;
		}
	}

	&__items {
		display: flex;
		align-items: center;
		gap: 44px;
	}

	&__link {
		font-size: 18px;
		text-transform: uppercase;
		transition:
			opacity 0.4s,
			background-color 0.4s,
			text-decoration 0.4s;

		&:focus {
			text-decoration: underline;
		}

		&:hover {
			opacity: 0.5;
		}

		&:active {
			text-decoration: none;
			color: var(--color-red-500);
			opacity: 1;
		}
	}

	&__ask {
		&--desk {
			@include mq(lg) {
				display: none;
			}
		}

		&--mobile {
			display: none;

			@include mq(lg) {
				display: flex;
			}
		}
	}

	.button {
		@include mq(sm) {
			padding: 8px;
			font-size: 10px;
		}
	}

	.burger-button {
		z-index: 100;

		@include mq(xl, min) {
			display: none;
		}
	}
}
