.logo {
	display: inline-block;
	width: 100%;

	&--npa {
		height: 120px;
		max-width: 180px;
	}

	&--mp {
		height: 74px;
		max-width: 360px;

		@include mq(xl) {
			height: 64px;
			max-width: 172px;
		}

		@include mq(md) {
			height: 48px;
			max-width: 124px;
		}

		@include mq(sm) {
			height: 30px;
			max-width: 82px;
		}
	}

	&--npa {
		height: 120px;
		max-width: 180px;

		@include mq(xl) {
			height: 93px;
			max-width: 140px;
		}

		@include mq(md) {
			height: 75px;
			max-width: 113px;
		}

		@include mq(sm) {
			height: 61px;
			max-width: 92px;
		}
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
