@mixin flex-all-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin flex-center-sb {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@mixin flex-end-sb {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

@mixin flex-column-v-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@mixin flex-column-v-start {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

@mixin flex-column-sb {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@mixin flex-column-center-sb {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

@mixin flex-column-all-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
