.media {
position: relative;

&__title{
margin-top: 70px;
}

&::before,
&::after {
content: '';
position: absolute;
background-position: center;
background-size: auto;
background-repeat: no-repeat;
}

&::before{
background-image: url('../img/decor/circle_dashed.svg');
left: -55px;
bottom: -60px;
width: 800px;
height: 800px;
rotate: 27%;
z-index: -1;

}

&::after{
background-image: url('../img/decor/line_dashed.svg');
right: -25px;
top: -200px;
aspect-ratio: 1/1;
height: 340px;
z-index:1;

@include mq(xl) {
max-width: 209px;
height: 212px;
right: 0;
top: -146px;
}
}

&__inner {
padding: 41px 16px 105px;
max-width: 1710px;
margin: 0 auto;
@include flex-center-sb;
text-align: center;
gap: 20px;

@include mq(xl) {
padding: 41px 10px 75px;
}

@include mq(lg) {
display: block;
margin: 0 auto;
}
}

&__subtitle {
color: var(--color-blue-500);
margin-bottom: 30px;
}

&__video{
max-width: 740px;
width: 100%;
}

&__video-link {
position: relative;
width: 100%;
height: 445px;
display: block;
z-index: 0;

@include mq(xl) {
max-width: 514px;
max-height: 301px;
}

&:after,
&:before {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
@include bg-cover;
content: '';
transition: opacity 0.4s, background-color 0.4s, background-image 0.4s;
opacity: 0;
}

&:hover,
&:active {
&::before {
opacity: 60%;
}
}

&:before {
background-color: var(--color-blue-400);
}

&::after {
background-image: url('../img/icons/play-white.svg');
top: 40%;
left: 45%;
max-width: 78px;
max-height: 78px;

@include mq(xl) {
top: 37%;
left: 42%;
}
}

&:hover,
&:active {
transition: opacity 0.4s;

&::after {
opacity: 100%;
}
}

&:active::after {
background-image: url('../img/icons/play-blue.svg');
}
}

&__video-img {
object-fit: cover;
width: 100%;
}

&__photos{

width: 100%;

// @include mq(xl) {
// max-width: 613px;
// }
}

&__items {
gap: 20px;
flex-wrap: wrap;
display: flex;

@include mq(xl) {
gap: 10px;
}
}

&__item {
width: 212px;
height: 212px;

@include mq(xl) {
width: 144px;
height: 144px;
}
}

&__link {
display: block;
position: relative;
z-index: 0;

&::after {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
transition: opacity 0.4s;
background-color: var(--color-white);
opacity: 0;
// z-index: -1;
}

&:hover,
&:active {

&::after {
opacity: 50%;
}
}
}

&__img {
max-width: 212px;
aspect-ratio: 1/1;

@include mq(xl) {
max-width: 144px;
}
}
}
