.survey {
text-align: center;
background-image: url('../img/bg/content-min-bg.jpg');
@include bg-cover;
padding: 140px 0;

@include mq(xl) {
  padding: 75px 70px;
}

@include mq(md) {
  padding: 35px 27px;
}

&__container{
  max-width: 1325px;
  margin: 0 auto;
  padding: 0 15px;
}

&__content {
@include flex-column-sb;

}
&__title {
font-size: 45px;
text-transform: uppercase;
margin-bottom: 50px;

@include mq(xl) {
margin-bottom: 33px;
font-size: 35px;
}

@include mq(md) {
margin-bottom: 25px;
font-size: 18px;
}

@include mq(sm) {
margin-bottom: 18px;
font-size: 16px;
}

}

&__btn{
padding: 34px 140px;
margin: 0 auto;
font-size: 40px;


@include mq(xl) {
font-size: 30px;
padding: 24px 65px;
}

@include mq(md) {
font-size: 18px;
padding: 12px 30px;
}

@include mq(sm) {
font-size: 16px;
padding: 11px 25px;
}
}
}
